<h1><%=@game.player1.name%> vs. <%=@game.player2.name%></h1>
<br>
<h2>Its <%=@game.attacker.name%>s turn</h2>


<h3><%=@game.player1.name%>: <%=@game.player1.points%>hp</h3>
<h3><%=@game.player2.name%>: <%=@game.player2.points%>hp</h3>
<a href='/Attack'>Attack</a>
